h1 {
    text-align: start;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    font-size: 40px;
    margin: 0;
}

a {
    display: block;
    font-weight: bold;
    font-size: 20px;
    color: rgb(53, 53, 62);
    text-align: start;
    margin-bottom: 20px;
    text-decoration: none;
}

form {
    text-align: center;
    max-width: 480px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

form input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    font-size: 22px;
    border: 1px solid grey;
    border-radius: 5px;
}

form button {
    width: 500px;
    margin-top: 10px;
    padding: 10px 0;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 24px;
}

form button:hover {
    cursor: pointer;
    background-color: brown;
}

form label {
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: start;
    width: 100%;
}

form p {
    color: grey;
    font-size: 14px;
}

 /* validation styles */
 input.valid {
     border: 3px solid rgb(54, 179, 54);
 }

 input.invalid {
    border: 3px solid rgb(202, 38, 38);
}

input + p {
    font-weight: bold;
    text-align: center;
    margin: 0 10px;
    color: rgb(255, 0, 0);
    opacity: 0;
    height: 0;
}

input.invalid + p {
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
}